.quemSomos {
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #720a29;
    padding: 60px 20px;
    box-sizing: border-box;
}

.cont_sobrenos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    padding-left: 0;
    border-radius: 8px;
    gap: 50px;
}

.colunaImagem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colunaImagem img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.colunaTexto {
    flex: 1 1 50%;
    max-width: 50%;
    background-color: rgb(193, 190, 173);
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    box-sizing: border-box;
    border-radius: 8px;
}

.titulo {
    font-size: 48px;
    font-weight: bold;
    color: #720a29;
    margin-top: 0;
    margin-bottom: 20px;
}

.paragrafo {
    font-size: 16px;
    color: black;
    line-height: 1.6;
    max-width: 600px;
}

.btn_ctt_quemsomos {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 13px;
    border: none;
    border-radius: 25px;
    background-color: #720a29;
    color: beige;
    align-self: center;
    margin-right: auto;
    cursor:pointer;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    flex-shrink: 0;
    margin-top: 20px;
    text-decoration: none;
}

.btn_ctt_quemsomos:hover {
    background-color: #db0042;
}

@media (max-width: 820px) {
    .quemSomos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 20px;
        box-sizing: border-box;
    }

    .cont_sobrenos {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .colunaImagem {
        width: 100%;
    }

    .colunaTexto {
        padding: 30px;
        max-width: 100%;
        flex: 1 1 100%;
    }
}