.quemSomos {
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #720a29;
    padding: 60px 20px;
    box-sizing: border-box;
}

.colunaImagem {
    position: relative;
    flex: 1;
    max-width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.colunaImagem img {
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: 400px;
    object-fit: cover;
}

.colunaTexto {
    flex: 1;
    max-width: 50%;
    background-color: rgb(193, 190, 173);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    box-sizing: border-box;
}

.titulo {
    font-size: 48px;
    font-weight: bold;
    color: #720a29;
    margin-top: 0;
    margin-bottom: 20px;
}

.paragrafo {
    font-size: 16px;
    color: black;
    line-height: 1.6;
    max-width: 600px;
}

.btn_ctt_quemsomos {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 13px;
    border: none;
    border-radius: 25px;
    background-color: #720a29;
    color: beige;
    align-self: center;
    margin-right: auto;
    cursor:pointer;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    flex-shrink: 0;
    margin-top: 20px;
    text-decoration: none;
}

.btn_ctt_quemsomos:hover {
    background-color: #db0042;
}

@media (max-width: 768px) {
    .quemSomos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 20px;
        box-sizing: border-box;

    }
    .colunaImagem {
        min-height: 300px;
        flex: 1 1 100%;
        display: flex;
        justify-content: center; 
    }

    .colunaImagem::before {
        display: none; 
    }

    .colunaImagem img {
        width: 100%;
    } 

    .colunaTexto {
        padding: 30px;
        max-width: 100%; 
    }
}